/* ------------------------------------------------------------- */
/* variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;

  --basic-grey-light: #32425C;
  --basic-grey: #3D546F;
  --basic-grey-dark: #293449;
  
  --basic-background-light: #C5C5C5;
  --basic-background: #F1F5F7;
  
  --white: #FFFFFF;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
}



/* ------------------------------------------------------------- */
/* global */

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

ul li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ------------------------------------------------------------- */
/* body */

.page {
  display: grid;
  
  grid-template-columns: 1fr 1200px 1fr;

  height: 100%;
  
  font-family: 'Cuprum', sans-serif;
  background-color: var(--white);
}

.page > .container {
  grid-column-start: 2;

  display: grid;
  grid-template-rows: 10% 80% 10%;
}

/* ------------------------------------------------------------- */
/* page-header */

.page-header {
  display: grid;
}

.top-header {
  display: grid;
  grid-template-columns: 130px 220px 1fr 150px 130px; 
  
  height: 42px;
  
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-grey-light);

  background-color: var(--basic-grey-dark);
}

.top-logo {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 12px;
  padding-left: 55px;
  padding-right: 57px;

  width: 220px;
  height: 42px;
  background-color: var(--basic-red);

  font-size: 21px;
  line-height: 21px;
  color: var(--white);
}

.btn-buy {
  grid-column-start: 4;
  grid-column-end: 5;

  font-size: 18px;
  line-height: 24px;

  align-items: center;
  text-align: center;

  color: #FFFFFF;

  width: 150px;
  height: 42px;
  background-color: var(--basic-green);
  padding-top: 9px;
}

.top-header-buttons {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;

  grid-template-columns: repeat(3, max-content);
  justify-self: end;
}

.btn-search {
padding-left: 17px;
padding-right: 100px;
padding-top: 9px;
}

.btn-bookmarks {
  padding-right: 50px;
  padding-top: 9px;
  text-align: end; 
  align-items: center;
}

.btn-cart {
  padding-right: 26px;
  padding-top: 9px;
  text-align: end;
  align-items: center;
}



.bottom-header {
  height: 278px;
}

.bottom-header {
  display: grid;
  grid-template-columns: 130px 300px 300px 1fr 1fr 130px;
  grid-template-rows: 1fr 1fr;

  
  height: 272px;
  background-color: var(--basic-background);
}

.site-information {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  align-self: center;
  color: var(--basic-red);

  grid-column-start: 2;
  grid-column-end: 3;
}

.call-box {
  display: grid;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  
  color: var(--basic-red);

  background-color: #F3F7F9;
  border: 3px solid #FFFFFF;
  align-self: center;

  width: 270px;
  height: 45px;
  justify-items: center;
}

address {
  display: grid;
  font-size: 14px;
  line-height: 24px;
  align-self: center;
  
  color: var(--basic-grey-light);
}

.login-button-group {
  display: grid;
  justify-items: end;
  align-self: center;
}

.login-button-group > button {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color:var(--white);
  border:none;

  width: 121px;
  height: 45px;
}

.login-button-group > input {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color:var(--white);
  border:none;

  width: 150px;
  height: 45px;
  
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-gap: 55px;
  padding-left: 55px;
  align-items: center;
 
  width: 885px;
  height: 60px;

  background-color: var(--basic-grey-light);

  grid-column-start: -6;
  grid-column-end: -2;
}

/* ------------------------------------------------------------- */
/* page-footer */

.page-footer {
  display: grid;
  height: 193px;
  background-color: var(--basic-grey);
}

.footer-menu-top {
  display: grid;
  margin-left: 130px;
  grid-template-columns: 220px 1fr; 
  margin-right: 130px;
}

.navigation-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  padding-left: 173px;
  margin-top: 37px;
}

.footer-menu-bottom {
  display: grid;
  margin-left: 130px;
  margin-right: 130px;
  grid-template-columns: 350px 1fr; 
}

.navigation-links-yellow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  padding-left: 92px;
  padding-top: 22px;
}

.navigation-links-yellow a {
  color: #FFD180;
}

.footer-menu-bottom address {
  font-size: 18px;
  line-height: 24px;

  color: #F3F7F9;
  padding-top: 22px;
  padding-bottom: 55px;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 107px;
  background-color: var(--basic-grey-dark);
  padding-left: 130px;
  padding-right: 110px;
}

.feedback > p {
  font-size: 16px;
  line-height: 18px;
  color:var(--white);
}

.social-links {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  padding-top: 14px; 
  
  
}

.copy-company {
  padding-top: 14px; 
}

.feedback-info {
  padding-top: 14px; 
  padding-left: 100px;
}

.developer {
  padding-top: 14px; 
  padding-left: 105px;
}

.feedback-info a,
.developer a {
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
} 

/* ------------------------------------------------------------- */
/* card */
.tile {
display: grid;
grid-template-columns: repeat(300px, 1fr);
grid-gap: 20px;
margin: 0 130px;
width: 940px;


grid-template-areas:
  "a b c"
  "d d e"
  "d d f";
align-items: start;
}

.card-groups .card-materials {
  grid-area: a;
}

.card-groups .card-tool {
  grid-area: b;
}

.card-groups .card-technics {
  grid-area: c;
}

.slider-man {
  grid-area: d;
}

.card-groups .card-delivery {
  grid-area: e;
}

.card-groups .card-discounts {
  grid-area: f;
}

.card-groups {
  width: 300px;
  height: 143px;
}

.card-groups > a > h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.card-groups > a > span {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-greylight);
  text-transform: uppercase;

  width: 135px;
  height: 38рх;

  background-color: var(--white);
  opacity: 0.3;

  align-items: center;
  text-align: center;
}

.card-materials {
  background-color: #FFBF47;
}

.card-tool {
  background-color: #3BBCE3;
}

.card-technics {
  background-color: #DC91D8;
}

.card-discounts {
  background-color: #8ED78F;
}

.card-delivery {
  background-color: #FFC047;
}

/* ----------------------------------- */

.slider-man {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  text-transform: uppercase;

  color: var(--white);

  width: 620px;
  height: 104px;

  background-color: rgba(0, 0, 0, 0.25);
}

.slider-man > span {
  font-size: 18px;
  line-height: 24px;

  color:var(--white);
}

.btn-red {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
 
  text-transform: uppercase;

  width: 192px;
  height: 38рх;

  background-color: #EE3643;
  border:none;
  grid-row-start: ;
  grid-row-end: ;
}

/* ----------------------------------- */
.popular-products
 {
  display: grid;
  grid-template-columns: 130px 470px 470px 130px;
  
}

.popular-products > h2 {
  
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 30px;
  line-height: 30px;

  align-items: center;
  text-transform: uppercase;
  color: var(--basic-grey-light);
  text-transform: uppercase;
  
  width: 940px;
  height: 89px;
  background-color: #F9F5F0;
}

.popular-products > .btn-red-popular {
  display: grid;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
 
  text-transform: uppercase;

  width: 192px;
  height: 38рх;

  background-color: #EE3643;
  border:none;
  grid-row-start: 3;
  grid-row-end: 4;
}

.products-cards {
  display: grid;
  grid-template-columns: 235px 235px 235px 235px;
}

.products-cards {
  
}

.products-cards > ul > li > h3 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  align-items: center;
  text-align: center;
  color: #000000;
  
  width: 185px;
  height: 43px; 
}

.products-cards .price-old {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: #A9A9A9;
  
  width: 65px;
  height: 18px; 
}

button.price-new {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  width: 141px;
  height: 38рх;

  background-color: #EE3643;
  border: none;
}

button.brands {
  width: 220px;
  height: 145px;

  background-color:var(--white);
  border: 1px solid #EAEAEA;

  list-style: none;
}

.store-services {
  width: 1200px;
  height: 522px;

  background-color: #F1F5F7;
}

.perforator-information {
  width: 1200px;
  height: 261px;

  background-color: #F1F5F7;
}

.store-services h2,
.perforator-information h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;

  color: var(--basic-grey-light);
}

.store-services p,
.perforator-information p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.company-information h2,
.contacts h2
{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  
  text-transform: uppercase;
  
  color: #000000;
}

.company-information p, 
.contacts p
{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.company-information span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

button.btn-company-info {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
 
  text-transform: uppercase;

  width: 220px;
  height: 38рх;

  background-color: #EE3643;
  border:none;
}

button.contacts {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
 
  text-transform: uppercase;

  width: 300px;
  height: 38рх;

  background-color: #EE3643;
  border:none;
}




.personal-data-and-orders a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
 
  align-items: center;
  text-align: center;
  
  color: #32425C;

  width: 210px;
  height: 18px;
}

.way li {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  align-items: center;
  text-transform: uppercase;

  color: #000000;

  width: 463px;
  height: 18px;
}

.sctn-perforator {

  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  align-items: center;
  text-transform: uppercase;

  color: var(--basic-grey-light);

  width: 940px;
  height: 89px;

  background-color: #F2F6F8;
}

.sctn-filters h3 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  
  align-items: center;
  text-transform: uppercase;
  
  color: #000000;

  width: 220px;
  height: 39px;

  background-color: #F7F3EC;
}

.sctn-filters h4 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

div .price-selection {
  width: 220px;
  height: 80px;

  background-color: #F7F3EC;
}

.min-max-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  width: 95px;
  height: 38px;

  background-color: #F7F3EC;
}

.checkbox .subscribe-field {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;
  color: #000000;
}

.select-technology {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  align-items: center;
  text-transform: uppercase;

  color: #000000;
}